/* Css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* start here */

*,*::before,*::after{
    box-sizing: box-border;
}
* img{

    max-width: 100%;
    height: auto;
}


* a{
    text-decoration: none;
    
}

.container{

    margin: 0px auto;
    max-width: 1000px;
    padding-left: 15px;
    padding-right: 15px;

}

.header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
}
.menu{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.menu li a{

    display: block;
    background-color: rgb(0, 119, 255);
    color: white;
    line-height: 48px;
    padding: 0px 16px;
}
.menu li a:hover{

    background-color: rgb(228, 131, 4);
    color: white;

}


.logo_rg{

    display:block;
}
.logo_sm{

    display:none;
}


.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news{

    width: 70%;
    padding: 12px;
    border: 2px solid black;

}
.title{

    font-size: 24px;
    font-weight: 600;
    font-family: serif;
}
.source{
    font-size: 14px;
    font-weight: 400;
    font-family: serif;


}


.ad{
    width: 20%;
    padding: 12px;
    border: 2px solid black;

}

.footer{
    margin-top: 8px;
    text-align: center;
}


@media (max-width:768px){

    .header{

        flex-direction: column;
        align-items: center;
    }
    .logo_rg{
        display:none;
    }
    .logo_sm{
        display:block;
    }
   
    .menu{
        flex-wrap: wrap;
        justify-content: center;
        /* width:50%; */
        /* min-width: 50%; */
        max-width: 60%;
        

    }

    .menu li a{

        padding-left: 48px;
        padding-right: 48px;
        margin-bottom: 8px;
    }

    .news,.ad{
        width: 100%;
    }

    .ad{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ad img{
        max-width: 100%;
        
    }

    .mb-2-n{
        margin-bottom: 16px;

    }
    .mr-6{ 
        margin-right: 48px;

    }

}

.mb-1{
    margin-bottom: 8px;
}

.mb-2{

    margin-bottom: 16px;
}
.mb-3{

    margin-bottom: 24px;
}